<h4>Welcome</h4>
<p></p>
<div id="eats">
  <% @restaurants.each do |restaurant| %>
      <strong><p><%= restaurant.name %></p></strong>
  <% end %>
  <br>
  <div id="revs">
    <% if current_user %>
    <h3>Your Helpful Reviews:</h3>
      <% current_user.favorites.each do |f| %>
        <p>Helpful: <%= link_to f.review.restaurant.name, "/restaurants/#{f.review.restaurant.id}" %> Review</p>
      <% end %>
    <% end %>
  </div>


</div>
<%= will_paginate @restaurants, renderer: BootstrapPagination::Rails, previous_label: "Back", next_label: "Next", inner_window: 0, outer_window: 0 %>
